@import "tailwindcss";
@font-face {
  font-family: "DelthaFont";
  src: url("/fonts/Deltha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-delta: "DelthaFont", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

#root,
html,
body {
  margin: 0;
  padding: 0;

  width: full;
  background-color: #090f1e;
  color: #ffffff;
  margin: 0;
  padding: 0;

  height: full;
  box-sizing: border-box;
}
@utility clip {
  width: max-content;

  padding: 3px 15px 3px 15px;
  background: #000000;

  border-radius: 8px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
  }
}
@utility vclip {
  height: max-content;
  padding: 15px 3px 15px 3px;
  background: #000000;
  border-radius: 8px;
  box-sizing: border-box;
  left: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -8px;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000000;
  }
}
.contain input {
  display: none;
}
.contain .options {
  flex: 1;
  text-align: center;
  font-family: var(--font-poppins);
  border: none;
  border-radius: 30px;

  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
}
#opt2:checked ~ .back {
  left: 25%;
}
#opt3:checked ~ .back {
  left: 50%;
}
#opt4:checked ~ .back {
  left: 75%;
}

.stars {
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  pointer-events: none;
}
.s {
  background-image:
    radial-gradient(1px 1px at 10% 10%, #fff, transparent),
    radial-gradient(1px 1px at 30% 20%, #fff, transparent),
    radial-gradient(1px 1px at 50% 50%, #fff, transparent),
    radial-gradient(1px 1px at 70% 30%, #fff, transparent),
    radial-gradient(1px 1px at 90% 10%, #fff, transparent);
  background-size: 200px 200px;
  animation: twin 3s ease-in-out infinite;
}
.s2 {
  background-image:
    radial-gradient(1.5px 1.5px at 20% 40%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 60% 85%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 85% 65%, #fff, transparent);
  background-size: 300px 300px;
  animation: twin 5s ease-in-out infinite 1s;
}
.s3 {
  background-image:
    radial-gradient(2px 2px at 40% 70%, #fff, transparent),
    radial-gradient(2px 2px at 10% 80%, #fff, transparent),
    radial-gradient(2px 2px at 80% 40%, #fff, transparent);
  background-size: 400px 400px;
  animation: twin 7s ease-in-out infinite 2s;
}
.metors {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #fff;
  pointer-events: none;
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.5);
  opacity: 0;
}
.metors::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
.m1 {
  top: 10%;
  left: 100%;
  animation: shoot 8s linear infinite;
}
.m2 {
  top: 0%;
  left: 90%;
  animation: shoot 12s linear infinite 4s;
}
.m3 {
  top: 30%;
  left: 0%;
  animation: shoot 10s linear infinite 2s;
}
@keyframes twin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(-35deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    transform: translateX(-1500px) translateY(1000px) rotate(-35deg);
    opacity: 0;
  }
  100% {
    transform: translateX(-1500px) translateY(1000px) rotate(-35deg);
    opacity: 0;
  }
}
